@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-slate-600;
    @apply select-none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
}
@layer components {
  .btn {
    @apply w-fit select-none border-slate-500 bg-slate-200 px-3 py-2 text-xl font-semibold text-black outline-none [border-style:outset] hover:bg-slate-300 active:[border-style:inset];
    border-width: 8px;
  }
}
@layer utilities {
  .text-default {
    @apply font-mono text-green-500;
  }
}
